absl-py
cachetools
certifi
charset-normalizer
click
cycler
dill
filelock
fonttools
google-auth
google-auth-oauthlib
grpcio
huggingface-hub
idna
imageio
imgaug
importlib-metadata
joblib
kiwisolver
Markdown
matplotlib
networkx
nibabel
nilearn
numpy
oauthlib
opencv-python
packaging
pandas
Pillow
protobuf
pyasn1
pyasn1-modules
pyparsing
python-dateutil
pytorch-metric-learning
pytz
PyWavelets
PyYAML
regex
requests
requests-oauthlib
rsa
sacremoses
scikit-image
scikit-learn
scipy
setuptools-scm
Shapely
six
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
threadpoolctl
tifffile
tokenizers
tomli
torch
torchaudio
torchvision
tqdm
transformers
typing-extensions
urllib3
Werkzeug
zipp
